* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

#rocketMan {
  background: rgb(20, 19, 19);
  height: 100vh;
  overflow: hidden;
}

.blog-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  top: 50px;
}

.blog-header {
  width: 100%;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  word-spacing: 3px;
  color: rgb(224, 224, 215);
  margin: 0 auto;
  position: absolute;
}

.author {
  position: absolute;
  color: #b288c0;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 5px;
  word-spacing: 3px;
  margin-top: 130px;
}

p {
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin-top: 250px;
  width: 700px;
}

#launch-btn {
  position: relative;
  padding: 15px 30px;
  color: rgb(224, 224, 215);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 25px;
  font-family: "Orbitron", sans-serif;
  z-index: 105;
}
#launch-btn:hover {
  background: #b288c0;
  color: #fff;
  box-shadow: 0 0 10px #f1e3f3, 0 0 40px #f1e3f3, 0 0 80px #f1e3f3;
  transition: 0.3s;
  cursor: pointer;
}

/***********INTRO*************/
/***********INTRO*************/
/***********INTRO*************/
/***********INTRO*************/
/***********INTRO*************/
#introContainer {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px 0 50px;
  top: 170px;
  background: rgb(19, 18, 18);
  border-top: 1px solid #b288c0;
  border-bottom: 1px solid #b288c0;
}

.rocker-man-header {
  position: relative;
  align-self: center;
  font-size: 55px;
  font-family: "Orbitron", sans-serif;
  color: #b288c0;
  text-shadow: 0 0 1px #bda0c7, 0 0 2px #bda0c7, 0 0 3px #bda0c7,
    0 0 4px #bda0c7, 0 0 90px #f319bd, 0 0 100px #bda0c7;
  letter-spacing: 10px;
  font-weight: 600;
  flex: 1;
}

#introp {
  position: relative;
  color: ivory;
  font-size: 15px;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 400;
  font-family: "Orbitron", sans-serif;
  top: -100px;
  z-index: 104;
  line-height: 25px;
  flex: 2;
}
@media (max-width: 1580px) {
  .rocker-man-header {
    font-size: 55px;
    letter-spacing: 10px;
    font-weight: 600;
    margin: 0 100px 0 0;
  }
}
@media (max-width: 1372px) {
  .rocker-man-header {
    font-size: 40px;
    letter-spacing: 8px;
    font-weight: 600;
  }
}
@media (max-width: 1255px) {
  .rocker-man-header {
    font-size: 35px;
    letter-spacing: 8px;
    font-weight: 600;
  }
}
@media (max-width: 1173px) {
  #introContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    background: rgb(19, 18, 18);
    border-top: 1px solid #b288c0;
    border-bottom: 1px solid #b288c0;
  }
  .rocker-man-header {
    position: relative;
    align-self: center;
    text-align: center;
    left: 25px;
    font-size: 35px;
    font-family: "Orbitron", sans-serif;
    color: ivory;
    letter-spacing: 5px;
    font-weight: 600;
    flex: none;
  }
  #introp {
    position: relative;
    color: ivory;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
    z-index: 104;
    line-height: 25px;
    top: -200px;
    flex: none;
  }
}

/****************STAR-SECTION***********/
/****************STAR-SECTION***********/
/****************STAR-SECTION***********/
/****************STAR-SECTION***********/
/****************STAR-SECTION***********/
/****************STAR-SECTION***********/
#background {
  position: relative;
  height: 100vh;
  width: 100%;
}

.star1 {
  position: absolute;
  background-color: #fff;
  left: 500px;
  top: 100px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation-name: twinkle1;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
.star2 {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes twinkle1 {
  30% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
@keyframes twinkle2 {
  30% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
.star3 {
  position: absolute;
  left: 1000px;
  top: 300px;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 105;
}
@keyframes twinkle3 {
  20% {
    transform: scale(0.5);
    opacity: 0.1;
  }
}
.star4 {
  position: absolute;
  left: 1500px;
  top: 120px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle4;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes twinkle4 {
  10% {
    transform: scale(0.5);
    opacity: 0.1;
  }
}
.star5 {
  position: absolute;
  left: 100px;
  top: 180px;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle5;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes twinkle5 {
  20% {
    tranform: scale(0.5);
    opacity: 0.1;
  }
}
.star6 {
  position: absolute;
  left: 800px;
  top: 90px;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle6;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes twinkle6 {
  30% {
    opacity: 0.1;
  }
}
.star7 {
  position: absolute;
  left: 200px;
  top: 60px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle7;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes twinkle7 {
  30% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}
.star8 {
  position: absolute;
  left: 1200px;
  top: 5px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: twinkle8;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
@keyframes twinkle8 {
  30% {
    transform: scale(0.2);
    opacity: 0.1;
  }
}
.star9 {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  animation: shooting-star 6s linear 1s infinite forwards;
}
@keyframes shooting-star {
  0% {
    left: 11px;
    top: 167px;
  }
  50% {
    left: 750px;
    top: 95px;
    opacity: 0.1;
  }
  100% {
    left: 1200px;
    top: 83px;
    opacity: 0.1;
  }
}

@keyframes biggie {
  25% {
    background-color: #ffffff;
    transform: scale(0.5);
    opacity: 0.3;
  }
}
.star10 {
  position: absolute;
  left: 580px;
  top: 350px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  animation-name: biggie;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
@keyframes biggie {
  25% {
    background-color: #ffffff;
    transform: scale(0.4);
    opacity: 0.8;
  }
}
.star11 {
  position: absolute;
  left: 1300px;
  top: 150px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  animation-name: biggie2;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}
@keyframes biggie2 {
  25% {
    background-color: #ffffff;
    transform: scale(0.7);
    opacity: 0.8;
  }
}

.button {
  position: relative;
  font-size: 30px;
  border: 1px #4a306d;
  padding: 5% 20% 5% 20%;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #4a306d;
}

/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
/**************ROCKET**************/
#rocket {
  position: relative;
  left: 150px;
  bottom: 184px;
  width: 26px;
  height: 80px;
  background-color: #d16014;
  border-radius: 50% 50% 0% 0%;
  z-index: 100;
}

@keyframes takeoff {
  0% {
    bottom: 184px;
  }
  100% {
    bottom: 2000px;
  }
}

/*animation: apollo11 12s linear 1s infinite forwards;*/
/*
@keyframes apollo11 {
  0% {animation-timing-function: ease-in;
    left: 200px; top: 600px;
  }
  10% {
    left: 200px; top: 550px
  }
  20% {
    left: 200px; top: 500px;
  }
  25% {
    left: 200px; top: 400px; 
  }
  40% {
    left: 200px; top: 380px;
    transform: rotate(15deg);
    }
  45% {
    left: 200px; top:380px;
    transform: rotate(20deg);
    }
  50% {
    left: 210px; top: 300px;
    transform: rotate(30deg);
    }
  75% {
    left: 350px; top: 250px;
    transform: rotate(90deg);
  }
  100% {
    left: 2000px; top: 250px;
    transform: rotate(90deg);
  }
}
*/

.head {
  position: absolute;
  left: 3px;
  top: 20px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  z-index: 3;
}

.head::before,
.head::after {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 60%;
  border-radius: 50px 50px 0 0;
  z-index: 2;
}

.head::before {
  background: #000;
  left: 2%;
  right: 2%;
  z-index: 4;
}

.mid-body {
  position: absolute;
  top: 20px;
  width: 20px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #000;
  z-index: 3;
}

.rocket1 {
  position: absolute;
  left: -4px;
  top: 35px;
  width: 12px;
  height: 10px;
  background-color: #fff;
  border-radius: 20% 20% 5% 5%;
  box-shadow: 1px -1px 4px 1px #484041;
  z-index: 3;
}

.rocket2 {
  position: absolute;
  left: 15px;
  top: 0px;
  width: 12px;
  height: 10px;
  background-color: #fff;
  border-radius: 20% 20% 5% 5%;
  box-shadow: -1px -1px 4px 1px #484041;
}
.roc-l {
  position: absolute;
  top: 10px;
  left: -13px;
  width: 8px;
  height: 7px;
  background-color: #0b0a0a;
  border-radius: 0px 0px 30px 30px;
}
.roc-r {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 8px;
  height: 7px;
  background-color: #0b0a0a;
  border-radius: 0px 0px 30px 30px;
}
.roc-l2 {
  position: absolute;
  top: 6px;
  left: -13px;
  width: 4px;
  height: 7px;
  background-color: #0b0a0a;
  border-radius: 0px 0px 30px 30px;
}
.roc-r2 {
  position: absolute;
  top: 0px;
  left: 15px;
  width: 4px;
  height: 7px;
  background-color: #0b0a0a;
  border-radius: 0px 0px 30px 30px;
}
.fin {
  position: absolute;
  top: -19px;
  left: -6px;
  width: 1px;
  height: 33px;
  background-color: #564e4e;
  box-shadow: 0px -10px 4px 0px;
}
.window-l {
  position: absolute;
  left: -8px;
  top: -40px;
  width: 8px;
  height: 4px;
  background-color: #0b0a0a;
  border-radius: 50% 0% 0% 0%;
  box-shadow: 0px 3px 4px 0px #564e4e;
}

.window-r {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 8px;
  height: 4px;
  background-color: #0b0a0a;
  border-radius: 0% 50% 0% 0%;
  box-shadow: 0px 3px 4px 0px #564e4e;
}

.side-rl {
  position: relative;
  top: -20px;
  left: 15px;
  width: 6px;
  height: 83px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  box-shadow: -2px 2px 6px 0px #564e4e;
  animation-delay: 4s;
}

.side-rr {
  position: absolute;
  top: 0px;
  left: -38px;
  width: 6px;
  height: 83px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  box-shadow: 2px 2px 6px 0px #564e4e;
}

.back-sidel {
  position: absolute;
  top: 82px;
  left: 39px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  box-shadow: 0px -2px 2px 1px #000;
}
.back-sider {
  position: absolute;
  top: 0px;
  left: -38px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  box-shadow: 0px -2px 2px 1px #000;
}

.connect-l {
  position: absolute;
  left: 5px;
  top: -63px;
  width: 4px;
  height: 3px;
  background-color: #564e4e;
}

.connect-r {
  position: absolute;
  left: 28px;
  top: 0px;
  width: 4px;
  height: 3px;
  background-color: #564e4e;
}

.wing-l1 {
  position: absolute;
  left: -58px;
  top: 8px;
  width: 0px;
  height: 0px;
  border-bottom: 35px solid #fff;
  border-left: 35px solid transparent;
  border-radius: 50px 0px 0px 50px;
  z-index: 100;
}

.wing-r1 {
  position: absolute;
  left: 22px;
  top: 0px;
  width: 0px;
  height: 0px;
  border-bottom: 35px solid #fff;
  border-right: 35px solid transparent;
  border-radius: 0px 50px 50px 0px;
  z-index: 100;
}

.nasa-l {
  position: absolute;
  left: -34px;
  top: 23px;
  width: 8px;
  height: 8px;
  background-color: #1a5974;
  border-radius: 50%;
}

.nasa-flag {
  position: absolute;
  left: 43px;
  top: 0px;
  width: 8px;
  height: 1px;
  background-color: #bf2722;
  border-radius: 0;
}

.nasa-text {
  position: absolute;
  font-size: 7px;
  top: 0px;
  left: 13px;
}

.nasa-flag2 {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 8px;
  height: 1px;
  background-color: #bf2722;
  border-radius: 0;
}

.nasa-flag3 {
  position: absolute;
  left: -5px;
  top: 2px;
  width: 13px;
  height: 1px;
  background-color: #bf2722;
  border-radius: 0;
}

.nasa-flag4 {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 13px;
  height: 1px;
  background-color: #bf2722;
  border-radius: 0;
}

.nasa-flagb {
  position: absolute;
  left: 0px;
  top: -6px;
  width: 5px;
  height: 4px;
  background-color: #1a5974;
  border-radius: 0;
}

#firel {
  position: absolute;
  left: -32px;
  top: 38px;
  width: 0;
  height: 0;
  opacity: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 55px solid #dd1c1a;
  border-radius: 0px 0px 100px 100px;
}
@keyframes flame {
  0% {
    opacity: 5;
    transform: scaleY(0.1);
  }
  5% {
    opacity: 5;
    transform: scaleY(0.1);
  }
  10% {
    opacity: 5;
    transform: scaleY(0.1);
  }
  25% {
    opacity: 5;
    transform: scaleY(0.1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes starterflame {
  0% {
  }
}

.fire-r {
  position: absolute;
  left: 6px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 55px solid #dd1c1a;
  border-radius: 0px 0px 100px 100px;
}

.orange-flamel {
  position: absolute;
  left: -20px;
  top: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid #fe4e00;
  border-radius: 0px 0px 100px 100px;
}

.orange-flamer {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid #fe4e00;
  border-radius: 0px 0px 100px 100px;
}

.yellow-flamel {
  position: absolute;
  left: -18px;
  top: 12px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 25px solid #ffb81f;
  border-radius: 0px 0px 100px 100px;
}

.yellow-flamer {
  position: absolute;
  left: 12px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 25px solid #ffb81f;
  border-radius: 0px 0px 100px 100px;
}

.white-flamel {
  position: absolute;
  left: -17px;
  top: 11px;
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 12px solid #fff;
  border-radius: 0px 0px 100px 100px;
  animation: flame 5s linear 2s infinite forwards;
}

.white-flamer {
  position: absolute;
  left: 13px;
  top: 0px;
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 12px solid #fff;
  border-radius: 0px 0px 100px 100px;
}

/******************3445px WIDTH*****************/
@media (max-width: 3445px) and (min-width: 2482px) {
  .blog-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 100px;
  }

  .blog-header {
    width: 100%;
    font-size: 100px;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 5px;
    word-spacing: 3px;
    color: rgb(224, 224, 215);
    margin: 0 auto;
    position: absolute;
  }

  .author {
    position: absolute;
    color: #b288c0;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 5px;
    word-spacing: 3px;
    margin-top: 350px;
  }

  p {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
    width: 900px;
  }

  #launch-btn {
    position: relative;
    padding: 15px 30px;
    top: 200px;
    color: rgb(224, 224, 215);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 35px;
    font-family: "Orbitron", sans-serif;
    z-index: 105;
  }
  #launch-btn:hover {
    background: #b288c0;
    color: #fff;
    box-shadow: 0 0 10px #f1e3f3, 0 0 40px #f1e3f3, 0 0 80px #f1e3f3;
    transition: 0.3s;
    cursor: pointer;
  }

  /***********INTRO*************/
  /***********INTRO*************/
  /***********INTRO*************/
  /***********INTRO*************/
  /***********INTRO*************/
  #introContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px 0 50px;
    top: 450px;
    background: rgb(19, 18, 18);
    border-top: 1px solid #b288c0;
    border-bottom: 1px solid #b288c0;
  }

  .rocker-man-header {
    position: relative;
    align-self: center;
    font-size: 80px;
    font-family: "Orbitron", sans-serif;
    color: #b288c0;
    text-shadow: 0 0 1px #bda0c7, 0 0 2px #bda0c7, 0 0 3px #bda0c7,
      0 0 4px #bda0c7, 0 0 90px #f319bd, 0 0 100px #bda0c7;
    letter-spacing: 10px;
    font-weight: 600;
    flex: 1;
  }

  #introp {
    position: relative;
    color: ivory;
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: 400;
    font-family: "Orbitron", sans-serif;
    z-index: 104;
    left: -250px;
    flex: 1;
  }

  /****************STAR-SECTION***********/
  /****************STAR-SECTION***********/
  /****************STAR-SECTION***********/
  /****************STAR-SECTION***********/
  /****************STAR-SECTION***********/
  /****************STAR-SECTION***********/
  #background {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .star1 {
    position: absolute;
    background-color: #fff;
    left: 500px;
    top: 100px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation-name: twinkle1;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }
  .star2 {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: twinkle2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes twinkle1 {
    30% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }
  @keyframes twinkle2 {
    30% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }
  .star3 {
    position: absolute;
    left: 1000px;
    top: 300px;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: twinkle3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 105;
  }
  @keyframes twinkle3 {
    20% {
      transform: scale(0.5);
      opacity: 0.1;
    }
  }
  .star4 {
    position: absolute;
    left: 1500px;
    top: 120px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: twinkle4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes twinkle4 {
    10% {
      transform: scale(0.5);
      opacity: 0.1;
    }
  }
  .star5 {
    position: absolute;
    left: 100px;
    top: 180px;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: twinkle5;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  @keyframes twinkle5 {
    20% {
      tranform: scale(0.5);
      opacity: 0.1;
    }
  }
  .star6 {
    position: absolute;
    left: 800px;
    top: 90px;
    width: 3px;
    height: 3px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: twinkle6;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
  @keyframes twinkle6 {
    30% {
      opacity: 0.1;
    }
  }
  .star7 {
    position: absolute;
    left: 200px;
    top: 60px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: twinkle7;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
  @keyframes twinkle7 {
    30% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }
  .star8 {
    position: absolute;
    left: 1200px;
    top: 5px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: twinkle8;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
  @keyframes twinkle8 {
    30% {
      transform: scale(0.2);
      opacity: 0.1;
    }
  }
  .star9 {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    animation: shooting-star 6s linear 1s infinite forwards;
  }
  @keyframes shooting-star {
    0% {
      left: 11px;
      top: 167px;
    }
    50% {
      left: 750px;
      top: 95px;
      opacity: 0.1;
    }
    100% {
      left: 1200px;
      top: 83px;
      opacity: 0.1;
    }
  }

  @keyframes biggie {
    25% {
      background-color: #ffffff;
      transform: scale(0.5);
      opacity: 0.3;
    }
  }
  .star10 {
    position: absolute;
    left: 580px;
    top: 350px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: biggie;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
  }
  @keyframes biggie {
    25% {
      background-color: #ffffff;
      transform: scale(0.4);
      opacity: 0.8;
    }
  }
  .star11 {
    position: absolute;
    left: 1300px;
    top: 150px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
    animation-name: biggie2;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
  }
  @keyframes biggie2 {
    25% {
      background-color: #ffffff;
      transform: scale(0.7);
      opacity: 0.8;
    }
  }
}
@media (max-width: 1555px) {
  .blog-header {
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 3px;
    padding: 0 10px;
  }
  #introp {
    font-size: 12px;

    text-align: center;
    align-self: center;
    width: 500px;
    line-height: 15px;
  }
}

@media (max-width: 1255px) {
  .blog-header {
    font-size: 30px;
    letter-spacing: 5px;
    word-spacing: 3px;
    padding: 0 10px;
  }
  #introp {
    font-size: 12px;

    text-align: center;
    align-self: center;
    width: 500px;
    line-height: 15px;
  }
}

@media (max-width: 900px) {
  .intro-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    top: 150px;
  }
  .blog-header {
    font-size: 19px;
    letter-spacing: 5px;
    word-spacing: 3px;
    padding: 0 10px;
  }
  #introp {
    font-size: 12px;
    top: -230px;
    text-align: center;
    align-self: center;
    width: 500px;
    line-height: 15px;
  }

  a {
    font-size: 15px;
  }
  #rocket {
    left: 80px;
  }
}
@media (max-width: 600px) {
  .author {
    position: absolute;
    color: #b288c0;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 5px;
    word-spacing: 3px;
    margin-top: 150px;
  }
  .intro-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    top: 90px;
  }
  .blog-header {
    font-size: 19px;
    letter-spacing: 5px;
    word-spacing: 3px;
    padding: 0 10px;
  }
  #introp {
    font-size: 10px;
    top: -230px;
    text-align: center;
    align-self: center;
    width: 350px;
  }

  #launch-btn {
    position: relative;
    padding: 15px 30px;
    color: rgb(224, 224, 215);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 15px;
    top: 10px;
    font-family: "Orbitron", sans-serif;
    z-index: 105;
  }
}
@media (max-width: 550px) {
  #rocket {
    left: 80px;
  }
}
